[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FnR"]
	path = FnR
	url = https://github.com/nilforooshan/fnr
[submodule "ggroups"]
	path = ggroups
	url = https://github.com/nilforooshan/ggroups
[submodule "mbend"]
	path = mbend
	url = https://github.com/nilforooshan/mbend
[submodule "pedMermaid"]
	path = pedMermaid
	url = https://github.com/nilforooshan/pedmermaid
[submodule "pedSimulate"]
	path = pedSimulate
	url = https://github.com/nilforooshan/pedsimulate
